.TodoButton{
    background: linear-gradient(45deg, #9e1341 30%, #FF8E53 90%);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 24px;
    right: 23px;
    font-weight: bolder;
    color: #FAFAFA;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    display: flex;   
    transform: rotate(0);
    transition: .5s;
    z-index: 1;
}

.TodoButton:hover{
    transform: rotate(224deg);
    background-color: #ffe10095;
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 10%;
    position: fixed;
    font-weight: bolder;
    color: #757575;
    display: flex;   
}